<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body>

  <a href="https://github.com/culturehack/data-tool"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


  <div class="page">
    <div class="page-header">
      <a href="http://culturehack.org.uk" class="logo-link">
        <img src="/images/culture-hack.svg" alt="Culture Hack" class="logo" height="96">
      </a>

      <nav class="primary-nav">
        <a href="http://culturehack.org.uk">Home</a>
        <a href="http://culturehack.org.uk/about/">About</a>
        <a href="http://culturehack.org.uk/blog/">Blog</a>
        <a href="http://culturehack.org.uk/prototypes/">Prototypes</a>
        <a href="http://culturehack.org.uk/hack-events/">Hack events</a>
        <a href="/" class="active">Data</a>
        <a href="http://culturehack.org.uk/get-in-touch/">Get in touch</a>
      </nav>
    </div>

    <div class="page-content">

      <div class="article-layout">

        <article class="article-content">
<!-- NB Don't forget to change the last updated date at the bottom! TODO: make that automatic based on last commit / build -->
          <header>
            <h1>About Culture Hack Data</h1>
          </header>

          <p>We&rsquo;ve created a simple web service to make it easier to discover and find out about the growing number of open data sources and providers within the arts and culture communities.</p>

<p>As well as linking to each of the data sources, we&rsquo;ve also tried to describe what each dataset is about, the size of each dataset, how easy it is to use and the license it&rsquo;s released under.</p>

<p>Most importantly, if we know about <strong>interesting hacks or prototypes</strong> made with the data, we've linked to those, too.</p>

<p>This tool is an experiment in the most simple way to catalogue data in a way that's both 'native to the web' and the way creative technologists work. In the future we want to make this a way of finding out about the creative things people have done with data, as much as the data itself. We're working on ways that you can associate prototypes with data sources, or write introductions to prototypes that help non-technical users understand just how awesome the prototypes are.</p>

<p>If you have ideas about how to do this, we'd love to chat to you.</p>

<p>You can get in touch via e-mail at <a href="hello@culturehackday.org.uk">hello@culturehackday.org.uk</a></p>


<h2 id="update-us">You're Missing My Data!</h2>

<p>If there&rsquo;s a dataset or a prototype we&rsquo;re missing, you can add it. All of the entries here are just plain, simple old-fashioned text files held over on <a href="https://github.com/culturehack/data-tool">GitHub</a>.</p>

<p>You can read <a href="https://github.com/culturehack/data-tool">instructions on GitHub</a>  about the format we use, and how to submit a &ldquo;pull request&rdquo; for us to add your contribution. It doesn&rsquo;t take long, and you can do it all online.</p>


<h2 id="licenses">Licenses</h2>

Data sets carry many different licenses. Some APIs have their own terms and conditions to access them: most entries will have notes about specific licensing conditions.

We have mainly categorised data sets under the following licenses:

<ul>
<li>PD - <a href="http://creativecommons.org/about/pdm">Public Domain</a></li>
<li>CC0 - <a href="http://creativecommons.org/about/cc0">Creative Commons Zero</a></li>
<li>ODbL - <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License</a></li>
<li>OGL - <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government License</a></li>
<li>CC-BY - <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a></li>
<li>CC-BY-NC - <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution Non-Commercial</a></li>
<li>CC-BY-SA - <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike</a></li>
<li>CC-BY-NC-SA - <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution Non-Commercial Share-Alike</a></li>
<li>CC-BY-NC-ND - <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution Non-Commercial No Derivs</a> (CC BY-NC-ND 3.0)</li>
<li>T+C - the data/entry has specific terms and conditions. Look at the main body of the article for more information.</li>
<li>© - the data/entry is rights restricted: someone should have a word...</li>
</ul>

We've included some 'closed' data sources because we think that the information inside could be interesting when combined with open data, or because we think someone should create an open alternative. After all, the amazing GDS has its roots back with a bunch of people who hacked together a fax gateway...

<h2 id="hackability">Culture Hack 'Hackability' Scale</h2>

<p>We've started rating some of the data sources for 'hackability' from 1-5, where 5 is best. To make your life easier, we've written a guide to how we think those ratings work from the point of view of a creative technologist. It's a rating scale that's about <em>doing</em> things with the data, rather than espousing a certain philosophy about how you should release data or create the sematic web. Oh, apart from the bit where we snark about MS SQL, but that's because we actually had that problem on a hack day once.</p>

<h3>5/5</h3>
<p>This data source is really good quality and well documented: you could do something interesting in a hour using existing tools. It <a href="http://berglondon.com/blog/2010/10/01/open-data-for-the-arts-human-scale-data-and-synecdoche/">'passes the P-Test'</a>.</p>
<ul>
	<li>Lots of records, all pretty much complete</li>
	<li>Clean data (eg dates)</li>
	<li>Pretty pictures and rich content available, not just metadata</li>
	<li>Well supported, with good documentation</li>
	<li>Frequent updates, active community or responsive owner</li>
</ul>

<h3>4/5</h3>

<p>It's going to take me 3 hours to make this work, but I'll do that because it's going to make something awesome.</p>

<ul>
	<li>60% good data: could use some cleaning up, but not terrible. I could work around it in code.</li>
	<li>A bit awkward to work with - perhaps flat files rather than a nice dynamic API - or an overly complex implementation.</li>
	<li>Documentation makes me mildly punchy</li>
	<li>Might not have a lot of pretties, images, rich media associated with it.</li>
</ul>

<h3>3/5</h3>

<p>Kind of nearly there, but might not be enough to do something awesome: I'd need to be really motivated to work with this, or for it to be exactly the right information for my idea.</p>

<ul>
	<li>Feels a bit flat - data, but not very dynamic or deep</li>
	<li>Data infrequently or never updated, published as flat files: prototypes will be one-offs with no ongoing life.</li>
	<li>A CSV with 400 things in it, and quite a few gremlin characters</li>
</ul>

<h3>2/5</h3>

<p>I would complain quite loudly if you asked me to work with this in the context of paying me a good salary.</p>

<ul>
	<li>An MS SQL Database</li>
	<li>Dirty or very fragmentary data</li>
	<li>A spreadsheet made by an idiot which uses text formatting to convey information or that has no headings or logic</li>
	<li>Poor or absent documentation</li>
</ul>

<h3>1/5</h3>

<p>I will assume you are making a bad joke, look at you funny and walk away if you ask me to hack with this data set (and if I eventually do, it will be to prove a point about what an idiot you are: eg. Hansard PDFs)</p>

<ul>
	<li>A PDF</li>
	<li>An actual piece of paper</li>
	<li>Rights restricted, closed data</li>
	<li>May involve locked filing cabinets in basements with 'beware of the leopard' written on them.</li>
</ul>

<h2 id="credits">Credits</h2>

<p><em>The Culture Hack Data Tool is supported by a grant from the <a href="https://www.gov.uk/government/organisations/technology-strategy-board" title="tedious silly buggers">Technology Strategy Board</a>.</em><p>

<p>Website produced by Frankie Roberto and Kim Plowright for Culture Hack.</p>

        </article>

        <aside class="article-aside">

          <div class="article-summary">
            
            <div class="summary-section">
              <h2>Last updated</h2>
              <p>
                28 November 2013
              </p> 
            </div>
            
<!-- Kim added Nav needs checking -->
<nav class="data-navigation">
          <div class="data-navigation-section">
              <a href="/">Back to Search →</a>
              <a href="/about">About Culture Hack Data →</a>
              <a href="https://github.com/culturehack/data-tool">Culture Hack Data on GitHub →</a>
          </div>
</nav>
<!-- end kim -->

          </div>

        </aside>
      </div>
    </div>

    <%= erb :footer %>                    

  </div>
</body>
