<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body>

  <a href="https://github.com/culturehack/data-tool"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


  <div class="page">
    <div class="page-header">
      <a href="http://culturehack.org.uk" class="logo-link">
        <img src="/images/culture-hack.svg" alt="Culture Hack" class="logo" height="96">
      </a>

      <nav class="primary-nav">
        <a href="http://culturehack.org.uk">Home</a>
        <a href="http://culturehack.org.uk/about/">About</a>
        <a href="http://culturehack.org.uk/blog/">Blog</a>
        <a href="http://culturehack.org.uk/prototypes/">Prototypes</a>
        <a href="http://culturehack.org.uk/hack-events/">Hack events</a>
        <a href="/" class="active">Data</a>
        <a href="http://culturehack.org.uk/get-in-touch/">Get in touch</a>
      </nav>
    </div>

    <div class="page-content">

      <div class="article-layout">

        <article class="article-content">

          <header>
            <h1>About Culture Hack Data</h1>
          </header>

          <p>We’ve created a simple web service to make it easier to discover and find out about the growing number of open data providers within the arts and culture communities.</p>

          <p>As well as linking to each of the data sources, we’ve also tried to descibe the size of each dataset, and how easy it is to use.</p>

          <p>If there’s a dataset we’re missing, <strong>you can add it</strong>.</p>

          <p>To do so, head over to <a href="https://github.com/culturehack/data-tool">GitHub</a> where there are instructions on the format we use, and how to submit a “pull request” for us to add your contribution. It doesn’t take long, and you can do it all online.</p>

          <p>Alternatively, get in touch via e-mail at <a href="hello@culturehackday.org.uk">hello@culturehackday.org.uk</a></p>

        </article>

        <aside class="article-aside">

          <div class="article-summary">
            <div class="summary-section">
              <h2>Last updated</h2>
              <p>
                6 November 2013
              </p> 
            </div>
          </div>

        </aside>
      </div>
    </div>

    <%= erb :footer %>                    

  </div>
</body>