<div class="page-footer">
  <div class="footer-content">

    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
    <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" /></a> <br />
     To the extent possible under law <a rel="dct:publisher"
     href="http://data.culturehack.org.uk"><span property="dct:title">Culture Hack</span></a> has waived all copyright and related or neighboring rights to <span property="dct:title">Culture Hack Data</span>. This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166" content="GB" about="http://data.culturehack.org.uk">The United Kingdom</span>.
    </p>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33693545-1', 'culturehack.org.uk');
  ga('send', 'pageview');

</script> 