<div class="page-footer">
  <div class="footer-content">
    <p>Website produced by Frankie Roberto and Kim Plowright for Culture Hack.</p>
    <p>Content available under Creative Commons Public Domain dedication.</p>
  </div>
</div>
